@media screen and (max-width:1000px) {
    #ncon {
        display: none;
    }
    #ncon2 {
        transition: 1s;
        width: 100%;
    }
    #ncons {
        display: none;
    }
    #ncon2s {
        width: 100%;
    }
    #game {
        display: none;
    }
    #loadimg {
        width: 150px;
    }
    #gsmall {
        background-image: url("https://www.barraques.cat/pngfile/big/6-69022_4k-wallpaper-for-mobile-game-wallpaper-4k-phone.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #gimg {
        margin-left: -30px;
    }
    #mess {
        height: 70px;
    }
}

#iabout {
    filter: blur(5px);
    position: relative;
    z-index: 2000;
    height: 350px;
    transform: scale(1.5);
    width: 300px;
    opacity: 1;
    top: -150px;
    transition: all 1s;
}

#habout {
    filter: blur(5px);
    position: relative;
    z-index: 2000;
    height: 350px;
    transform: scale(1.5);
    width: 300px;
    opacity: 1;
    top: -180px;
    transition: all 1s;
}

.butn {
    background: #d96834;
    background-image: -webkit-linear-gradient(top, #d96834, #b86d2b);
    background-image: -moz-linear-gradient(top, #d96834, #b86d2b);
    background-image: -ms-linear-gradient(top, #d96834, #b86d2b);
    background-image: -o-linear-gradient(top, #d96834, #b86d2b);
    background-image: linear-gradient(to bottom, #d96834, #b86d2b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 13px 8px 13px;
    text-decoration: none;
}

.butn:hover {
    background: #fc6f3c;
    background-image: -webkit-linear-gradient(top, #fc6f3c, #d97634);
    background-image: -moz-linear-gradient(top, #fc6f3c, #d97634);
    background-image: -ms-linear-gradient(top, #fc6f3c, #d97634);
    background-image: -o-linear-gradient(top, #fc6f3c, #d97634);
    background-image: linear-gradient(to bottom, #fc6f3c, #d97634);
    text-decoration: none;
}

#aabout {
    filter: blur(5px);
    position: relative;
    z-index: 2000;
    height: 350px;
    transform: scale(1.5);
    width: 300px;
    opacity: 1;
    top: -200px;
    transition: all 1s;
}

#bh {
    position: relative;
    top: 40%;
    width: 100%;
    z-index: 1000;
    transition: all 1s;
}

#bhh {
    position: relative;
    top: 40%;
    z-index: 1000;
    transition: all 1s;
}

#bha {
    position: relative;
    top: 40%;
    z-index: 1000;
    transition: all 1s;
}

#iabout:hover {
    opacity: 0;
    transition: all 1s;
}

#habout:hover {
    opacity: 0;
    transition: all 1s;
}

#aabout:hover {
    opacity: 0;
    transition: all 1s;
}

i:hover {
    animation-play-state: paused;
}

@keyframes icon {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

#block {
    text-align: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 300px;
    background: white;
    box-shadow: 0px 1px 30px 0px rgba(160, 158, 158, 0.75);
    color: black;
}

#ncon {
    position: relative;
    top: 40%;
}

#ncon2 {
    float: right;
    position: relative;
    top: 40%;
}

#ncons {
    position: fixed;
    top: -100px;
}

#ncon2s {
    color: blue;
    right: 0px;
    position: fixed;
    top: -100px;
}

#jumbo {
    position: fixed;
    background: rgb(252, 250, 250);
    width: 50%;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 25%;
}

#loading {
    background: linear-gradient(166deg, #f56ba5, #6e9ed6, #09f0a3);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    transition: all 1s;
    width: 100%;
    height: 100% !important;
    position: fixed;
    z-index: 5000;
    overflow: hidden;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#back {
    height: 700px;
    background-image: url("backe.jpg");
    min-height: 100%;
    position: relative;
    filter: brightness(100%);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10px;
}

#game {
    width: 100vw;
    height: calc(100vw/1.77);
    object-fit: cover;
    left: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    z-index: -1000;
}

#bf {
    background-color: transparent;
    color: white;
    border: 0;
}

#gcon {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.589);
    width: 100%;
    z-index: 50;
    overflow: scroll;
    height: auto;
    top: 0px;
    text-align: center;
    color: white;
}

#face {
    height: 450px;
    position: relative;
    left: -15px;
}

#article {
    z-index: 1000;
    position: relative;
    top: 30px;
    width: auto;
    height: 400px;
    overflow: scroll;
    border: solid rgb(77, 77, 77) 6px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

#svg {
    fill: black;
}

#img {
    position: relative;
    z-index: 1000;
    top: 20px;
    border: solid rgb(77, 77, 77) 6px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-color: transparent;
    height: 450px;
    width: 300px;
    overflow: hidden;
}

#about {
    text-shadow: 4px 4px 5px rgb(122, 121, 121);
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
    background: rgb(71, 78, 93);
    color: white;
    text-align: center;
    overflow: scroll;
    position: relative;
    margin-top: -10px;
    height: auto;
    z-index: 1000;
}

#ch1 {
    position: relative;
    animation: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        top: -30px;
    }
    25% {
        top: -95px;
    }
    50% {
        top: -155px;
    }
    75% {
        top: -215px;
    }
    100% {
        top: -30px;
    }
}

.backtotop {
    position: relative;
    z-index: 1000;
    margin-top: 100px;
}

.flex-container {
    position: relative;
    color: white;
    display: flex;
}

#head {
    box-shadow: 10px, 10px, 10px, 20px;
    width: 100%;
    top: 50%;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    filter: brightness(150%);
    text-align: center;
    overflow: hidden;
    color: #000;
}

#heads {
    background-color: rgba(29, 28, 28, 0);
    color: #fff;
    padding: 18px;
    height: 40px;
    font-size: 105px;
    overflow: hidden;
    letter-spacing: 10px;
}

.svg {
    position: relative;
    background-color: transparent;
    margin-top: -100px;
    z-index: 10;
}

#navi {
    overflow: hidden;
    font-size: 19px;
    font-weight: bolder;
    position: relative;
    
    height: 80px;
    background: rgba(34, 33, 33, 0.712);
}

#navis {
    border-bottom: rgb(0, 0, 0);
    box-shadow: 0px 1px 30px 0px rgba(160, 158, 158, 0.75);
    overflow: hidden;
    font-size: 19px;
    font-weight: bolder;
    position: fixed;
    z-index: 3000;
    top: -100px;
    width: 100% !important;
    height: 70px;
    right: 0;
    background: rgb(255, 255, 255);
}

#cell2 {
    height: 300px;
    overflow: hidden;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    color: white;
    justify-content: space-between;
}

a {
    color: white;
}

body {
    background: #000;
}

#ns8 {
    position: fixed;
}

#ns {
    position: relative;
    top: 50%;
    float: right;
}

#skills {
    color: white;
    text-align: center;
    height: auto;
    overflow: auto;
    background: rgb(41, 40, 40);
}

#imgs {
    height: 300px;
    width: 100%;
}

#sblock {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

#sblock :hover {
    z-index: 3000;
    transform: rotate(10deg);
    transition: all;
}

.container {
    border-radius: 10px;
    padding: 0px;
    background-color: rgb(41, 40, 40);
}

.skills {
    height: 20px;
    border-radius: 10px;
    text-align: right;
    color: white;
}

.html {
    padding-right: 10px;
    width: 0%;
    background-color: #4CAF50;
}

.css {
    padding-right: 10px;
    width: 0%;
    background-color: #2196F3;
}

.c {
    padding-right: 10px;
    width: 0%;
    background-color: rgb(245, 125, 70);
}

.jp {
    padding-right: 10px;
    width: 0%;
    background-color: rgb(185, 67, 159);
}

.js {
    padding-right: 10px;
    width: 0%;
    background-color: #f44336;
}

.php {
    padding-right: 10px;
    width: 0%;
    background-color: #668d99;
}


/* time line*/


/* The actual timeline (the vertical ruler) */

#timelined {
    color: white;
    background: #2196F3;
    text-align: center;
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: DodgerBlue;
}

.flex-container>div {
    line-height: 50px;
    height: 50px;
    vertical-align: center;
    background-color: #886d6d;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}